
auto-save-list/*
backups/*
elpa/*
places
swank
url/*
ac-comphist.dat
.smex-items
*.elc
var/*
history/*

config/.#flyspell-config.el

config/flyspell-config.el

tramp

bookmarks

.org-id-locations

.mc-lists.el

eshell/history

eshell/lastdir

workgroups
/quicklisp.lisp
/configuration.el

projectile-bookmarks.eld

projectile.cache
