[submodule "snippets/clojure-mode"]
	path = snippets/clojure-mode
	url = https://github.com/ljos/clojure-snippets
[submodule "site-lisp/sparql-mode"]
	path = site-lisp/sparql-mode
	url = git@github.com:ljos/sparql-mode.git
